@font-face {
    font-family: 'WebFont';
    src: url('diogenes.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  
body {
    background-image: url("../images/europa.jpg");
}
.jumbotron {
 background-image: url("../images/jumbotron.png");
 font-family: WebFont;
 color: white;

 text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
}
#buttons {
            /* Positioning */
           /* margin: 50px 0; 
            /* Typography */
            text-align: center;
            position: relative;
            float: center;
            background: grey;
          }
          button {
            
                    /* Box-model */
                    width: 300px;
                    height: 100px;
            
                  }
.panel {
    background: grey;
    
}
p{
    text-align: center;
}
#p0, #p1, #p2, #p3 {
    background: grey;
    padding: 10px 0 10px 0;
    
   }
.AnswersOutput{
    text-align: center;
}   
.ZoomOffScreen{
    left:9000px;
    position: relative;
}
.Shrink {
    width: 535px;
    height: 400px;
}